parameters:
    level: 0
    autoload_directories:
        - Block
        - Helper
        - ViewModel
    excludes_analyse:
        - 'vendor'
    ignoreErrors:
        - '#invalid typehint#'
        - '#unknown class#'
    reportUnmatchedIgnoredErrors: false