<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="xigen" translate="label" sortOrder="500">
            <label>Xigen</label>
        </tab>
        <section id="xigen" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Marker.io</label>
            <tab>xigen</tab>
            <resource>Xigen_MarkerIo::config_xigen_markerio</resource>
            <group id="markerio" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>Marker.io</label>
                <field id="enabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Enabled</label>
                    <comment>Show script tag</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="destination" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Destination</label>
                    <comment/>
                </field>
            </group>
        </section>
    </system>
</config>
